.task-add {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;

  width: 30%;
  padding: 20px;
  margin: 10px auto 0;

  transform: translateX(-50%) translateY(-50%);

  background-color: #ffffff;
}
.task-add__form {
  display: flex;
  flex-wrap: wrap;
}
.input {
  width: 100%;

  border: none;
  border-bottom: 1px solid rgb(184, 184, 184);
}
.task-add label {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 10px;
}
.text-area {
  min-height: 60px;
  border: 1px solid rgb(184, 184, 184);
}
.disabled {
  color: rgb(184, 184, 184);
}
.task-add__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  border: none;

  background-color: transparent;
}
.task-add__close-button::after,
.task-add__close-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;

  width: 20px;
  height: 2px;

  background-color: black;
}
.task-add__close-button:after {
  transform: rotate(45deg);
}
.task-add__close-button::before {
  transform: rotate(-45deg);
}
