.task-table {
  width: 50%;
  margin: 0 auto;

  border-collapse: collapse;
}
.task-table tr:nth-child(even) {
  background-color: #f1f1f1;
}
.task-table td,
.task-table th {
  padding-top: 5px;
  padding-bottom: 5px;

  border-left: none;
  border-bottom: 2px solid #e2e2e2;
  border-top: none;
  border-right: none;

  text-align: center;
}
